/* font families 
font-family: "Open Sans", sans-serif;
font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 100; 300, 400, 700, 900
font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 100; */
/*navigation - hidden*/
:root {
    /* typography */
    --primary-font: "Lato", Arial, Helvetica, sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --font-size-xs: 1.2rem;
    --font-size-s: 1.5rem;
    --font-size-m: 2rem;
    --font-size-l: 3rem;
    --font-size-xl: 4rem;
    --fw-xs: 100;
    --fw-s: 300;
    --fw-m: 400;
    --fw-b: 700;
    --fw-xb: 900;
    --fs-base: 1rem;
    
    /* colors */
    
    --primary-clr-dark: #0A2E4E;
    --primary-clr-light: #0EA5E9;
    --accent-clr: #F4B400;
    --neutral-lt-color: #E6E9ED;
    --neutral-mid-color: #969CA6;
    
    --base-space: 10px;
    
     /* helpers */
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer) * 2);
    --border-radius: 10px;
    --shadow: 5px 5px 8px #F4B400;
    --margin-left: 2rem;
    
    /* Nav height */
    --nav-height: 125px;
    --header-height: 125px;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    width: 100%;
}
section.nav {
    background-color: var(--primary-clr-dark);
    box-shadow: var(--shadow);
    font-family: var(--secondary-font);
    font-size: var(--font-size-xs);
    font-weight: var(--fw-xs);
    color: var(--primary-clr-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    width: 100%;

}
section.nav img {
    height: 125px;
    width: auto;
    
}
section.nav a {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
}
nav.top {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
}
.topnav li {
    padding: 0.2rem;
}
.topnav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    background: var(--primary-clr-light);
    font-weight: var(--fw-b);
    padding: 1rem;
    border-radius: var(--border-radius);
}
.navToggler:checked ~ nav.top {
    display: block;
}
.navToggler {
    display: none;
}
.navTogglerMenu {
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    order: 1;
    padding-right: 4rem;
}
.navTogglerMenu i {
    color: #fff;
    font-size: 2rem;          
    cursor: pointer; 
}

.menuClose {
    display: none;
}
.topnav li a:link { color: var(--primary-clr-dark); }
.topnav li a:visited { color: var(--primary-clr-dark); }
.topnav li a:hover { color: red; }
.topnav li a:active { color: green; }

.nav-logo-right {
    display: none;
}
/*end of top navigation */
.hero {
    background-image: url(../images/X-ray_hero-image-mobile.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem;
    }
header.hero {
    padding-top: 255px;
}
.hero-text {
    background: var(--neutral-mid-color);
    padding: 2rem;
    max-width: 60%;
    color: var(--neutral-lt-color);
    border-radius: var(--border-radius);
}
.hero-text h1 {
    font: var(--fw-m) var(--font-size-l)/1.2 var(--primary-font);
    margin: 0 0 1rem 0;
    }
.hero-text p {
    font: var(--fw-s) var(--font-size-xs)/1.5 var(--secondary-font);
    margin: 0;
}


section.about_us_text {
    background-color: var(--primary-clr-light);
    padding: 2rem;
    border-bottom: solid 50px var(--accent-clr)
}
header.about_us section.about_us_text  h1 {
    font: var(--fw-m) var(--font-size-l)/1.2 var(--primary-font);
    color: #fff;
    margin: 0 0 1rem 0;
}
header.about_us section.about_us_text  p {
    font: var(--fw-s) var(--font-size-xs)/1.5 var(--secondary-font);
    color: #fff;
    margin: 0;
}
header.about_us section.about_us_text img {
    border-radius: var(--border-radius);
    max-width: 100%;

}
section.about_us_text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
section.about_us_text p {
    text-align: left;
}
section.about_us_text p:last-child {
    padding-top: 1rem;
}
section.about_us_text figure {
    width: 100%;
    margin: 0;
}
section.about_us_text img {
    width: 100%;
    height: auto;
    display: block;
}
.about_us_text article {
    max-width: 600px;
}
/*end of header*/

/* main */

.six-articles {
    min-height: calc(100vh - var(--header-height));
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    margin: 1rem;
    justify-items: center;
    align-items: start;
    background-color: #fff;
    box-sizing: border-box;
}
.six-articles img {
    width: 100%;              /* responsive width */
    aspect-ratio: 1 / 1;      /* force square shape */
    max-width: 250px;
    height: auto;
    object-fit: cover;        /* crop nicely */
    border-radius: var(--border-radius);       /* optional rounded corners */
    display: block;           /* remove inline gaps */
    margin: 0 auto;
}

.six-articles h2 { 
    font: var(--fw-b) var(--font-size-l)/1.2 var(--primary-font);
    background: var(--primary-clr-dark);
    color: var(--neutral-lt-color);
    padding: 0 2rem;
    margin: 0 0 1rem 0;
    border-radius: var(--border-radius);
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.six-articles p {
    font: var(--fw-m) var(--font-size-m)/1.5 var(--secondary-font);
    color: var(--primary-clr-dark);
    padding: 2rem;
    margin: 0;
}
.btn {
    font-size: var(--font-size-xs);
    color: var(--primary-clr);
    text-decoration: none; 
    border-radius: var(--border-radius);
    display: block; 
    margin: 1rem auto;
   

}
a.btn {
    font-size: 1.5rem;
    color: var(--primary-clr);
    font-weight: var(--fw-b);
    background-color: var(--accent-clr);
    width: 250px;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid var(--primary-clr-dark);
    border-radius: var(--border-radius);
}

/* Footer */
.footer {
    font-size: var(--font-size-xs);
    width: 100%;
    background-color: var(--primary-clr-dark);
    font-family: var(--secondary-font);
    box-shadow: var(--shadow);
    color: #FFF;
    position: static;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    /* margin-top: 125px; use this to show the footer in the pages without main*/
}
.footer p.sell { font-style: italic; font-size: 3rem; }

section.footer h2 {
    font-size: var(--font-size-m);
    padding-bottom: 1rem;
    }

section.footer article li, section.footer h3 {
    margin-bottom: 1rem;
}

.bottom_logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.bottom_logos img {
    height: 125px;
    width: auto;
}
.bottom_logos img:first-child { margin-left: 2rem; }
.bottom_logos img:last-child { margin-right: 2rem; }
.footer_articles {
    display: none;
}
.sitemap_btn {
    background-color: var(--accent-clr);
    color: var(--primary-clr-dark);
    padding: 1.2rem 2rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: var(--fw-b);
    display: inline-block;
    margin: 1rem auto;
}
.footer p {
    text-align: center;
    padding: 2rem;
}


/*about Us */

.three-articles {
    background-color: rgba(244, 180, 0, 0.37);
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}
article.elena, article.john, article.jordan {
    background-color: var(--primary-clr-dark);
    border-bottom: solid 5px var(--accent-clr);
    padding: 2rem;
    border-radius: var(--border-radius);
}
.three-articles h1 {
    color: #fff;
    font: var(--fw-m) var(--font-size-l)/1.2 var(--primary-font);
    background-color: var(--primary-clr-dark);
    padding: 2rem 1rem;
    border-bottom: solid 20px var(--accent-clr);
    border-radius:  var(--border-radius);
}
.three-articles article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.three-articles img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    border-radius:  50%;
    display: block;
    
}
.three-articles figcaption h2 {
    font: var(--fw-m) var(--font-size-l)/1.2 var(--primary-font);
    color: var(--accent-clr);
    margin: .5rem;
    padding: 1rem 0;
}
.three-articles figcaption h3 {
    color: #fff;
    font: var(--fw-m) var(--font-size-l)/1.2 var(--primary-font);
    padding: 1rem;
    border-radius:  var(--border-radius);
    margin: 0 .5rem 0;
}

.three-articles figcaption p:first-of-type {
    font: var(--fw-b) var(--font-size-l)/1.5 var(--secondary-font);
    color: var(--primary-clr-dark);
    font-size: var( --font-size-m);
    background-color: var(--primary-clr-light);
    padding: 2rem;
    border-radius: var(--border-radius);
    border: solid 5px var(--accent-clr);
}
.three-articles figcaption p:last-of-type {
    font: var(--fw-b) var(--font-size-l)/1.5 var(--secondary-font);
    font-size: var( --font-size-m);
    color: #fff;
    font-style: italic;
    margin-top: .5rem;
    padding: 2rem;
}
section.facts {
    background-color: var(--neutral-lt-color);
}
section.facts h1 {
    border-bottom: none;
}
section.facts ul {
    font: var(--fw-b) var(--font-size-m)/1.5 var(--secondary-font);
    padding: 2rem;
    list-style-type: square;
    list-style-position: inside;
}

/* ------------------------------------  Site map------------------------------------ */
/* header map site */


header.map h2 {
    padding: 200px 1.5rem 1.5rem;
    font: var(--fw-b) var(--font-size-l)/1.2 var(--primary-font);
    color: var(--primary-clr-dark);
    background: var(--neutral-lt-color);
    display: flex;
    justify-content: center; 
    box-shadow: var(--shadow);
}

/* sitemap section styling */
.map_main {
    padding: 4rem 2rem;
}
section.map_items {
    text-align: center;
    margin: 2rem auto;
    max-width: 1200px;
}
section.map_items h2 {
    font: var(--fw-b) var(--font-size-l)/1.2 var(--primary-font);
    background: var(--primary-clr-dark);
    color: var(--neutral-lt-color);
    margin-bottom: 1rem;
    padding: 2rem 0;
    box-shadow: var(--shadow);
}

/* pyramid style items */
section.map_items ul {
    font: var(--fw-b) var(--font-size-m)/1.5 var(--secondary-font);
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; 
    
}
section.map_items li {
    position: relative;
    padding: 0 .5rem 1rem;
    background: var(--neutral-lt-color);
    border-radius: var(--border-radius);
    min-width: 120px;
    margin: 1rem 0;
}
/* Nested lists */
section.map_items ul ul {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 1rem;  
}
section.map_items ul ul ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

section.map_items ul ul ul li{
    
    border: 1px solid var(--primary-clr-dark);
    color: var(--primary-clr-dark);
    font-weight: var(--fw-b);
    background-color: var(--accent-clr);
    border-radius: var(--border-radius);
    text-decoration: none;
    padding: 1rem;   
}
section.map_items a {
    text-decoration: none;
    color: var(--primary-clr-dark);
}

section.map_items a:link { color: var(--primary-clr-dark); }
section.map_items a:visited { color: var(--primary-clr-dark); }
section.map_items a:hover { color: red; }
section.map_items a:active { color: green; }
/* connector lines */


section.map_items ul ul::before {
    content: '';
    position: absolute;
    top: -20px; /* aligns with parent’s vertical line */
    left: 0;
    right: 0;
    height: 2px;
    background: #ccc;
}
section.map_items ul ul ul li::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    width: 3px;
    height: 20px;
    background: #ccc;
}

/* Styling for Products.html & equipment.html */
/* Author: Bill */
.products img, .equipment img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.products a, a:link, a:visited, a:hover, a:focus, a:active {
  color: inherit;         /* Prevents color changes*/
  font-family: inherit;   /* Ensures consistent font family */
  font-size: inherit;     /* Ensures consistent font size */
  text-decoration: none;  /* Removes default underline */
}

.productsH2, .equipmentH2 {
    font: var(--fw-b) var(--font-size-l)/1.2 var(--primary-font);
    /*background: var(--primary-clr-dark);*/
    color: #000;
    padding: 10px 2rem;
    margin: 0 1rem;
    text-align: center;
}

.equipmentMain h3 {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    font-weight: bold;
}

.products p {
    color: #fff;
    font: var(--fw-m) var(--font-size-xs) var(--secondary-font);
    text-align: center;
    padding: 1rem 1rem;
}

.equipment hr {
    width: 15%;
    border: 2px solid #000;
    border-radius: 5px;
    margin-top: 0;
}

.productsHero {
    background-image: url("../images/products/equipemntHero.jpg");
    background-color: #cccccc;
    padding: 10px;
}

.roundBtn {
    color: #fff;
    font-size: 1.5rem;
    background-color: rgba(120, 114, 114, 0.5); 
    width: fit-content;
    text-decoration: none;
    display: block;
    border: 1px solid #b7b1b1;
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.products article p, .equipment p {
    font: var(--fw-m) var(--font-size-xs) var(--secondary-font);
    color: #000;
    text-align: left;
    padding: 1rem 1rem;
}

.equipment section {
    border-bottom: solid 2px #09857a;
    padding: 0 10px;
    margin: 20px 20px;
}
/* end */

/* ---------------- target screens with min 676px, targets tablets ------------------ */

@media (min-width: 676px) {
    
    :root {--nav-height: 242px; }
    .navToggler, .navTogglerMenu, .menuOpen, .menuClosed {
        display: none;
    }
    section.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    section.nav img:first-child {
        height: 152px;
        width: auto;
    }
    nav.top {
        position: static;
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        background-color: transparent;
     
    }
    ul.topnav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 2rem 0;
    }
    
    .topnav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        font-size: 1.2rem;
        color: var(--primary-clr-dark);
        font-weight: var(--fw-b);
        background-color: var(--accent-clr);
        border-radius: var(--border-radius);
        text-decoration: none;
    }
   
    .nav-logo-right {
        display: block;
        height: 125px;
        width: auto;
        margin-left: auto;
        margin-right: 2rem;
    }
    /* header */
   .hero {
       background-image: url(../images/X-ray_hero-image_blue.jpg);
    }
   .hero-text {
       background: var(--neutral-mid-color);
       padding: 2rem;
       max-width: 60%;
       color: var(--neutral-lt-color);
    }
   .hero-text h1 {
      font: var(--fw-b) var(--font-size-m)/1 var(--primary-font);
      margin: 0 0 1rem 0;
    }
   .hero-text p {
      font: var(--fw-m) var(--font-size-xs)/1.3 var(--secondary-font);
      margin: 0;
    }
  
    
    header.about_us section.about_us_text  h1 {
    font: var(--fw-b) var(--font-size-m)/1 var(--primary-font);
    }
    header.about_us section.about_us_text  p {
    font: var(--fw-m) var(--font-size-s)/1.3 var(--secondary-font);
  
    }
    section.about_us_text {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
    }
    section.about_us_text figure {
        width: 50%;
        order: 2;
    }
    section.about_us_text article {
        width: 50%;
    }

    /* main */
    .six-articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1rem;
    }
    section.founders {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;    
    }
    section.founders article.jordan {
        grid-column: 1 / -1;
        justify-self: center;
    }
    section.facts ul {
        font: var(--fw-b) var(--font-size-xl)/1.5 var(--secondary-font);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: max-content;
        margin: 0 auto;
     }

    /* Medium size Styling for Products.html & equipment.html */
    /* Autor: Bill */
    .productsMain {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 2fr;
        row-gap: 0;
        column-gap: 10px;
        justify-items: start;
        align-items: start;
        padding: 1em;
    }
    .productsMain img {
        order: -1;
        grid-row: span 2;
        text-align: center;
    }
    
    .equipmentMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        /*gap: 10px;*/
    }
    /* end */
    
    
    /*footer*/
    .footer {
        font-size: var(--font-size-m);
    }
    section.footer h3 {
        font-size: 2.5rem;
    }
    section.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .bottom_logos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .bottom_logos img {
        height: 200px;
        width: auto;
    }
    .bottom_logos img:first-child { margin-left: 4rem; }
    .bottom_logos img:last-child { margin-right: 4rem; }
    
    .sitemap_btn {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .footer_articles {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        max-width: 90%;
        margin: 0 auto;
    }
    .footer article {
        display: block;
    }
    footer a {
        text-decoration: none;
    }
    footer a:link { color: #fff; }
    footer a:visited { color: var(--primary-clr-light); }
    footer a:hover { color: red; }
    footer a:active { color: green; }
}




    /* Combine @media (min-width: 970px) & @media (min-width: 120px)
    /*@media (min-width: 970px) {*/
    @media (min-width: 1110px) {
    :root { --nav-height: 152px; }  
    nav.top {
        position: static;
        display: flex;
        flex: 1;
        justify-content: center;
        background-color: transparent;
     
    }
    ul.topnav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        max-width: 900px;
    }
    
    .topnav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;   
        font-size: 1.5rem;
        min-width: unset;
        color: var(--primary-clr-dark);
        font-weight: var(--fw-b);
        background-color: var(--accent-clr);
        border-radius: var(--border-radius);
        text-decoration: none;
    }
   
    .nav-logo-right {
        display: block;
        height: 125px;
        width: auto;
        margin-left: auto;
        margin-right: 2rem;
    }
 
    .hero {
       background-image: url(../images/X-ray_hero-image_blue.jpg);
    }
   .hero-text {
       background: var(--neutral-mid-color);
       padding: 2rem;
       max-width: 60%;
       color: var(--neutral-lt-color);
    }
   
    header.about_us section.about_us_text  h1 {
       font: var(--fw-xb) var(--font-size-m)/1 var(--primary-font);
       padding-top: 2rem;    
    }
    header.about_us section.about_us_text  p {
    font: var(--fw-b) var(--font-size-s)/1.3 var(--secondary-font);

    }
    section.about_us_text {
        display: flex;
        flex-direction: row; 
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 0 2rem;
    }
    section.about_us_text figure {
        width: 40%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    
    }
    section.about_us_text article {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    
    /* main */
    .six-articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1rem;
        }
        /*footer */
        .footer_articles {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
       
        max-width: 90%;
        margin: 0 auto;
    }
        section.founders {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;    
    }
        section.founders article.jordan {
            grid-column: auto;
            justify-self: auto;
        }
    
    /* Large screen Styling for Products.html & equipment.html */
    /* Author: Bill */
        .equipmentMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        /*gap: 10px;*/
    }
    /* end */    
/*}

@media (min-width: 1200px) {*/
    header.about_us section.about_us_text  h1 {
        font: var(--fw-xb) var(--font-size-l)/1 var(--primary-font);
        padding-top: 2rem;    
    }
    header.about_us section.about_us_text  p {
        font: var(--fw-b) var(--font-size-m)/1.3 var(--secondary-font);
        padding-bottom: 2rem;

    }
}